.seccion_contacto{
    background-image:url(../acuarela-fondo.jpg);
    background-position: center;
    max-width:1550px;
    }
    .contact__text{
      text-align: center;  
      font-size: 11px;
      font-family: sans-serif;
      font-weight: lighter;
      margin: 3px;
    
      }
      @media(min-width: 500px){
        .contact__text a {
        transition: color 500ms;
          
      }
      }
      .contact__text:hover {
      -webkit-transform:scale(1.1);transform:scale(1.1);
       }
      @media(min-width:500px) {
        .contact__text{
          font-size: 15px;
          margin:3px;
      }
      .contact__text:hover {
        color: rgb(50, 142, 196);
       }
      }